---
---

<h3 text-2xl>⚡Skills</h3>
<img
  w-full
  src="https://skillicons.dev/icons?perline=14&i=astro,bash,discord,docker,electron,git,github,gitlab,html,idea,js,linux,md,mysql,nginx,nodejs,ps,postman,py,pytorch,react,redis,sqlite,svg,twitter,ts,vercel,vite,vscode,vue,swift"
  alt=""
/>
